@import url("https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --board-clearance-horizontal-absolute-value: 200px;
  --board-clearance-horizontal-relative-value: 20vw;
  --board-clearance-horizontal: min(
    var(--board-clearance-horizontal-absolute-value),
    var(--board-clearance-horizontal-relative-value)
  );

  --board-clearance-vertical-absolute-value: 100px;
  --board-clearance-vertical-relative-value: 30vh;
  --board-clearance-vertical: min(
    var(--board-clearance-vertical-absolute-value),
    var(--board-clearance-vertical-relative-value)
  );

  --smaller-clearance-by-aspect-ratio: min(
    var(--board-clearance-horizontal),
    var(--board-clearance-vertical)
  );

  --smaller-side: min(100vw, 100vh);

  --cell-size-relative-value: calc(
    (var(--smaller-side) - var(--smaller-clearance-by-aspect-ratio) * 2) / 3
  );
  --cell-size-absolute-value: 160px;
  --cell-size: min(
    var(--cell-size-relative-value),
    var(--cell-size-absolute-value)
  );
}

body {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: hsla(256, 89%, 71%, 0.5);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  user-select: none;
}

main > div {
  text-align: center;
  flex: 1;
}

main > div:first-child,
main > div:last-child {
  height: var(--board-clearance-vertical);
}

main > div:first-child {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: calc(var(--smaller-clearance-by-aspect-ratio) * 0.2);
  padding-bottom: calc(var(--smaller-clearance-by-aspect-ratio) * 0.2);
}

main > div:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(var(--smaller-clearance-by-aspect-ratio) * 0.2);
  padding-top: calc(var(--smaller-clearance-by-aspect-ratio) * 0.2);
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid yellow; */
}

.game-container > div {
  width: var(--board-clearance-horizontal);
  /* border: 1px solid blue; */
  font-size: clamp(
    20px,
    calc(var(--smaller-clearance-by-aspect-ratio) / 2),
    60px
  );
  text-align: center;
}

.board-container {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.board-cell {
  width: var(--cell-size);
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--cell-size) * 0.5);
}

.board-cell {
  border-color: hsla(256, 91%, 82%, 0.9);
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
}

.board-cell:nth-child(3n) {
  border-right-width: 1px;
}

.board-cell:nth-child(7),
.board-cell:nth-child(8),
.board-cell:nth-child(9) {
  border-bottom-width: 1px;
}

button {
  position: relative;
  font-size: calc(var(--smaller-clearance-by-aspect-ratio) * 0.2);
  line-height: 1em;
  padding: 0.6em 1em 0.5em 1em;
  color: hsla(256, 91%, 82%, 0.9);
  border: 1px solid hsla(256, 91%, 82%, 0.5);
  background-color: hsla(256, 91%, 82%, 0.1);
  border-radius: 0.5em;
  transition: top 0.1s ease-in-out;
}

button:hover {
  color: hsla(256, 91%, 92%, 0.9);
  background-color: hsla(256, 91%, 82%, 0.2);
  box-shadow: 0 0.3em 0.5em hsla(256, 40%, 20%, 0.3);
}

button:active {
  color: hsla(256, 91%, 92%, 0.95);
  background-color: hsla(256, 91%, 82%, 0.5);
  top: 0.1em;
}
